@{
    ViewBag.Title = "404發生錯誤";
}
<section style="height: 70vh;padding:100px 0 100px;">
    <div style="text-align:center">
        <span style="font-size:200px">4</span>
        <span style="font-size: 180px;padding:0 30px;">0</span>
        <span style="font-size: 200px">4</span>
    </div>
    <h2 style="text-align:center;">Oops! 處理你的要求時發生錯誤</h2>
</section>