.section_product {
    margin: 100px 0;
    padding-top: 30px
}

.section_product .container-lg:nth-of-type(2) {
    background: var(--light)
}

.section_product .product-pic img {
    border-radius: 3px
}

.section_product .product-content table {
    border : 1px solid var(--dark);
    margin-top : 30px;
    border-radius : 5px;
}
.section_product .product-content td {
    border: 1px solid var(--gray);
    padding: 5px 10px;
}
.section_product .product-content .table-header {
    background: var(--color-darkGray);
    color: var(--light);
    width: 120px;
}
.section_product .product-content .note li {
    list-style-type: disc;
}
.section_product .product-content .content-footer {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.section_product .product-content .content-footer p {
    margin: 10px 0;
    font-size: 30px
}

.section_product .product-content .content-footer .btn-group {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.section_product .product-content .content-footer .btn-group button,
.section_product .product-content .content-footer .btn-group .checkout,
.section_product .product-content .content-footer .btn-group .goback {
    background: var(--color-primary);
    color: var(--light);
    margin: 10px 0;
    border-radius: 5px !important;
    padding: 5px 10px;
    font-size: 14px;
    display: inline-block;
}

.section_product .product-content .content-footer .btn-group button:hover,
.section_product .product-content .content-footer .btn-group .checkout:hover,
.section_product .product-content .content-footer .btn-group .goback:hover {
    background: var(--color-primary-dark);
    text-decoration: none;
}

.section_product-info {
    padding-top: 30px;
    background: var(--color-primary-soLight)
}

.section_product-info .product-tabs {
    margin-top: 30px;
    border-bottom: 1px solid var(--color-primary-dark)
}

.section_product-info .product-tabs .nav-item {
    margin: 0 5px
}

.section_product-info .product-tabs .nav-item a {
    color: var(--color-primary-dark);
    font-size: 20px
}

.section_product-info .product-tabs .nav-item a.active {
    border-bottom: 3px solid var(--dark)
}

.section_product-info .product-tabs .nav-item a:hover {
    color: var(--light);
    background: var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);
    border-radius: 3px 3px 0 0
}
.user{
    color: var(--dark);
}

.section_product-info .product-tab-item {
    padding: 50px 15px 100px;
    top: 30px;
    left: 0;
    opacity: 0;
    display: none;
}
.section_product-info .product-tab-item h2,
.section_product-info .product-tab-item > p{
    text-align:center;
}

.section_product-info .product-tab-item:before {
    position: absolute
}

.section_product-info .product-tab-item>p {
    margin-top: 30px
}

.section_product-info .product-tab-item .intro {
    margin-top: 40px
}

.section_product-info .product-tab-item .service {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray)
}

.section_product-info .product-tab-item .service-title,
.section_product-info .product-tab-item .service-region {
    padding: 5px
}

.section_product-info .product-tab-item .service-region {
    border-left: 1px solid var(--gray)
}

.section_product-info .product-tab-item.active {
    opacity: 1;
    display: block
}

.section_product-info .product-tab-item h4 {
    text-align: center;
}

.section_product-info .comment {
    background: var(--light);
    border-radius: 5px;
    box-shadow: 1px 2px 5px #00000080;
    text-align: left;
    margin: 40px auto 0;
}

.section_product-info .comment .comment-user {
    color: var(--gray);
    font-size: 12px;
}

.section_product-info .comment .comment-delete,
.section_product-info .comment .comment-hide {
    position: absolute;
    top: 2%;
    right: 2%;
    cursor:pointer;
    color: var(--gray);
    z-index:10;
}

.section_product-info .comment .comment-delete:hover,
.section_product-info .comment .comment-hide:hover {
    color: var(--dark-blue);
}

.section_product-info .no-comment {
    padding: 50px 0;
}
.section_product-info .no-comment p{
    text-align:center;
}

.section_product-info .comment-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.section_product-info .comment-item img {
    width: 60px;
    min-width: 60px;
    height: 60px
}
.section_product-info .comment-area {
    background: #f5f6f7;
    border-radius: 5px;
    text-align: left;
    margin: 40px auto 0;
    padding: 0 0 10px 0;
    border: 1px solid var(--gray);
}
.section_product-info .comment-area textarea {
    width: 100%;
    resize: none;
    height: 100px;
    border-color: transparent;
    outline: none;
    border-bottom: 1px solid var(--gray);
    padding: 10px 0 0 10px;
    border-radius: 5px;
}

.section_product-info .comment-area i {
    cursor: pointer;
}

.section_product-info .comment-area #commentBtn {
    display: block;
    margin: 10px 10px 0 auto;
    padding: 5px 10px;
    background: var(--dark-blue);
    color: var(--light);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.section_product-info .comment-area #commentBtn[disabled='disabled']{
    opacity:.4;
}

@media screen and (min-width: 768px) {
    .section_product-info .comment .comment-user {
    font-size: 16px;
    }
    .comment-user br {
        display: none;
    }
    .section_product-info .comment{
        width: 80%;
    }
    .section_product-info .comment-area {
        width : 60%;
    }
    .section_product .product-content .content-footer .btn-group {
        flex-direction : row;
    }
    .section_product .product-content .content-footer .btn-group button,
    .section_product .product-content .content-footer .btn-group .checkout{
        margin-right: 1%;
    }
}

.section_product-info .comment-area .spinner-border-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-blue);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .section_product-info {
        padding-top: 60px
    }

    .section_product-info .product-tabs {
        width: 50%;
        margin: auto
    }
    .section_product .product-content table {
        margin-top: 50px;
    }
}