@model ForgotPasswordViewModel
@{
    ViewBag.Title = "忘記密碼?";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/forgotPassword.css">
}


<section class="section_forgetpassword">
    <div class="forgot-password-modal">
        @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form", role = "form" }))
        {
            <h3>輸入你的帳號、信箱</h3>
            <hr />
            <div class="form-group">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    @Html.LabelFor(m => m.AccountName, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btns d-flex justify-content-center align-items-center" id="ForgotBtn">
                    <div class="spinner-border-wrap opacity">
                        <span class="spinner-border"></span>
                    </div>
                    以信箱傳送連結
                </button>
            </div>
        }
    </div>
</section>

@section JS {
    <script src="~/Assets/js/account/forgotPassword.js"></script>
}
