@{
    ViewBag.Title = "會員帳號啟動";
}
@section CSS{
    <link rel="stylesheet" href="~/Assets/css/account/registerEmailActivation.css">
}

<section class="section_register-email-activation">
    <div class="container-lg">
        <div class="row">
            <div class="col-12">
                <div class="wrap">
                    @if (ViewBag.Result == "Verified")
                    {
                        <h1>會員註冊成功</h1>
                    }
                    else if (ViewBag.Result == "HasBeenVerified")
                    {
                        <h1>已通過驗證</h1>
                    }
                    <p>現在可以開始使用我們的服務!!!</p>
                    <div class="btns-group">
                        @Html.ActionLink("回首頁", "Index", "Home", routeValues: null, htmlAttributes: new { @class = "btns btn-register" })
                        @Html.ActionLink("登入", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btns btn-login" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

