
@{
    ViewBag.Title = "常見問題";
}

@section CSS{
@Styles.Render("~/Assets/css/QA/QA.css")
}
<section class="qa">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                           aria-controls="nav-about" aria-selected="true">關於我們</a>
                        <a class="nav-link" id="nav-services-tab" data-toggle="tab" href="#nav-services" role="tab"
                           aria-controls="nav-services" aria-selected="false">服務流程</a>
                        <a class="nav-link" id="nav-answer-tab" data-toggle="tab" href="#nav-answer" role="tab"
                           aria-controls="nav-answer" aria-selected="false">常見問題</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-about" role="tabpanel"
                         aria-labelledby="nav-about-tab">
                        <section class="introduce">
                            <div class="contain">
                                <div class="content">
                                    <p>致力於打造一個便利、專業、可信賴的居家生活服務平台，讓您透過網頁、手機快速制定家事計畫，讓家事也可以變得很簡單。</p>
                                </div>
                            </div>
                        </section>
                        <section class="idea">
                            <div class="content">
                                <div class="title">
                                    <h4>我們的核心理念</h4>
                                </div>
                                <div class="item-group">
                                    <div class="item">
                                        <div class="pic">
                                            <div class="pic-text">
                                                簡單操作
                                            </div>
                                        </div>
                                        <div class="text">
                                            <p>5 分鐘用手機、電腦滑一滑、點一點即完成預約，簡單不麻煩。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pic">
                                            <div class="pic-text">
                                                透明定價
                                            </div>
                                        </div>
                                        <div class="text">
                                            <p>避免過去被漫天喊價的情況，每項服務價格清楚揭示，避免資訊及期待的落差。</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="pic">
                                            <div class="pic-text">
                                                專業人員
                                            </div>
                                        </div>
                                        <div class="text">
                                            <p>服務人員皆經過制度化的審核與訓練，配合評價機制，定期拔擢或淘汰服務人員。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="nav-services" role="tabpanel" aria-labelledby="nav-services-tab">
                        <section class="process">
                            <div class="content">
                                <div class="item-group">
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-user-friends"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 1</h4>
                                            <p>註冊會員</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 2</h4>
                                            <p>服務類型</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="far fa-calendar-alt"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 3</h4>
                                            <p>確認日期</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-scroll"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 4</h4>
                                            <p>填寫資料</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fab fa-cc-visa"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 5</h4>
                                            <p>付款下訂</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-phone-volume"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 6</h4>
                                            <p>服務確認</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-broom"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 7</h4>
                                            <p>到府清潔</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="icon-area">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="text">
                                            <h4>Step 8</h4>
                                            <p>服務驗收</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="button-area">
                                    <a href="">
                                        <button>選擇服務></button>
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane fade" id="nav-answer" role="tabpanel" aria-labelledby="nav-answer-tab">
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-commonproblem-tab" data-toggle="pill"
                                   href="#v-pills-commonproblem" role="tab" aria-controls="v-pills-commonproblem"
                                   aria-selected="true"><i class="fas fa-question-circle"></i></a>
                                <a class="nav-link" id="v-pills-membership-tab" data-toggle="pill"
                                   href="#v-pills-membership" role="tab" aria-controls="v-pills-membership"
                                   aria-selected="false"><i class="fas fa-user"></i></a>
                                <a class="nav-link" id="v-pills-promise-tab" data-toggle="pill" href="#v-pills-promise"
                                   role="tab" aria-controls="v-pills-promise" aria-selected="false">
                                    <i class="fas fa-shield-alt"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-commonproblem" role="tabpanel"
                                     aria-labelledby="v-pills-commonproblem-tab">
                                    <section class="commonproblem">
                                        <h2>常見問題</h2>
                                        <div class="item-group">
                                            <div class="item">
                                                <h3>居家清潔如何確定時間？</h3>
                                                <p>成立訂單時，於首頁您可以點選您欲清掃的地區、時數，按下搜尋後，下方會列出所有目前可供預約的日期、時段。</p>
                                            </div>
                                            <div class="item">
                                                <h3>突然有事我可以延期嗎？</h3>
                                                <p>
                                                    最晚需於服務日前一天晚上6點以前，聯絡uCleaner延期。<br>
                                                    1. 取消服務退款將酌收整體費用5%為服務手續費用<br>
                                                    2. 服務開始前一日18:00後取消或更改酌收整體服務費用30%<br>
                                                    3. 已於開始服務時間取消服務則酌收整體服務費用50%
                                                </p>
                                            </div>
                                            <div class="item">
                                                <h3>每次都派幾位服務人員？</h3>
                                                <p>預訂8小時以內，只會派一位服務人員，超過8小時(含)以上的服務，系統會自動拆成2人*4小時，以此類推，以節省您寶貴的時間。</p>
                                            </div>
                                            <div class="item">
                                                <h3>居家清潔做不完可以加時嗎？</h3>
                                                <p>如果當天服務有需要加時的狀況，可與在場的服務人員協調，可否配合加時。</p>
                                            </div>
                                            <div class="item">
                                                <h3>如何預估居家鐘點清潔的時數？</h3>
                                                <p>您可依居家清潔頁面提供的「估時計算器」提供的時數作為依據，估算計時器是系統根據平均狀態估算的結果。</p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="tab-pane fade" id="v-pills-membership" role="tabpanel"
                                     aria-labelledby="v-pills-membership-tab">
                                    <section class="membership">
                                        <h2>會員帳戶</h2>
                                        <div class="item-group">
                                            <div class="item">
                                                <h3>如何成為會員？</h3>
                                                <p>您可以點選加入會員免費註冊，並透過手機號碼進行驗證，1分鐘內即可完成會員註冊。</p>
                                            </div>
                                            <div class="item">
                                                <h3>為什麼我要成為uCleaner會員？有什麼好處？</h3>
                                                <p>
                                                    不管您是否為uCleaner會員，都可以預定各種清潔服務。但成為會員可享：<br>
                                                    1. 使用好友邀請優惠。<br>
                                                    2. 資料會自動記憶，不需一再重複輸入預訂資料。<br>
                                                    3. 定期收到uCleaner寄發的電子報，得到第一手優惠資訊。<br>
                                                    4. 您可以於會員中心管理您的優惠券、查看優惠券使用情況和J點剩餘點數。<br>
                                                    5. 可查詢預訂清潔的紀錄。
                                                </p>
                                            </div>
                                            <div class="item">
                                                <h3>服務人員跟我聯絡，我的資料會不會外流？</h3>
                                                <p>不會。為保障客戶的隱私權益，我們將嚴格保密客戶提供的資訊，電話亦僅供師傅與客戶之間的事前聯繫，以確保能給您最符合需求的服務。</p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="tab-pane fade" id="v-pills-promise" role="tabpanel"
                                     aria-labelledby="v-pills-promise-tab">
                                    <section class="promise">
                                        <h2>安全保障</h2>
                                        <div class="item-group">
                                            <div class="item">
                                                <h3>服務人員在我家服務發生意外該怎麼辦？</h3>
                                                <p>
                                                    請您立刻來電 0277448081 或來信告知，本公司將協助後續處理與相關保險事宜。
                                                </p>
                                            </div>
                                            <div class="item">
                                                <h3>清潔的時候我無法在場，可以使用監視器監視服務狀況嗎？</h3>
                                                <p>您於服務地點架設監視器是沒有問題的，uCleaner也會根據每一次服務，成立回饋評價機制，同時替您把關服務品質及保障您的權益。<br>但還是建議您可以預留十分鐘時間於服務開始前及服務結束後，現場檢查清潔的狀況，如有狀況也能及時回報uCleaner，我們會盡快為您做處理。</p>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


