.forgot-password-modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	box-shadow: 1px 1px 5px #00000080;
	padding: 20px;
	border-radius: 5px;
	background: var(--dark);
	max-width: 300px;
}

.forgot-password-modal .form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 15px;
}
.forgot-password-modal h3 {
	text-align:center;
	font-size: 20px;
}
.forgot-password-modal .control-label {
	letter-spacing : 1px;
	padding-right : 10px;
	width: 100px;
	text-align:center;
}

.forgot-password-modal .form .form-group {
	margin-bottom: 10px
}

.forgot-password-modal .form-control {
	width : 50%;
	margin : 10px;
	display: inline-block;
}

.section_forgetpassword {
	height: 90vh;
	background: var(--color-primary-light);
	padding : 15vh 0 30vh;
	color: #fff;
}
.section_forgetpassword hr {
	background: var(--light);
	
}
.forgot-password-modal .btns {
	background: var(--gray);
	color: var(--dark);
	display: block;
	margin-left: auto;
	margin-top: 30px;
	box-shadow: 1px 1px 5px #00000080;
	transition: .3s;
	position: relative
}
.forgot-password-modal .spinner-border-wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--gray);
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
}


@media screen and (min-width: 500px) {
	.forgot-password-modal {
		max-width: 500px;
		margin: 100px auto;
	}

	.forgot-password-modal h3 {
		font-size: 30px;
	}
}