@model IEnumerable<ProductPageViewModel>
@{
    ViewBag.Title = "商品頁";
}

@section CSS{
    @Styles.Render("~/Assets/css/ProductPage/ProductPage.css")
}
<section class="ProductPage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3 ">
                <div class="operating-area close" id="sidemenu">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="content">
                                    <i class="fas fa-feather"></i>
                                    空間類型
                                </div>
                            </div>
                            <div class="collapse show">
                                <div class="card-body">
                                    <input type="radio" id="kitchen" name="roomtype" value="0">
                                    <label for="kitchen">廚房</label><br>
                                    <input type="radio" id="livingroom" name="roomtype" value="1">
                                    <label for="livingroom">客廳</label><br>
                                    <input type="radio" id="bedroom" name="roomtype" value="2">
                                    <label for="bedroom">臥室</label><br>
                                    <input type="radio" id="bathroom" name="roomtype" value="3">
                                    <label for="bathroom">浴廁</label><br>
                                    <input type="radio" id="balcony" name="roomtype" value="4">
                                    <label for="balcony">陽台</label>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">

                                <div class="content">
                                    <i class="fas fa-feather"></i>
                                    空間大小
                                </div>

                            </div>
                            <div class="collapse show">
                                <div class="card-body">
                                    <input type="radio" id="5meters" name="squarefeet" value="0">
                                    <label for="5meters">5坪以下</label><br>
                                    <input type="radio" id="10meters" name="squarefeet" value="1">
                                    <label for="10meters">6-10坪</label><br>
                                    <input type="radio" id="15meters" name="squarefeet" value="2">
                                    <label for="15meters">11-15坪</label><br>
                                    <input type="radio" id="20meters" name="squarefeet" value="3">
                                    <label for="20meters">16坪以上</label><br>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">

                                <div class="content">
                                    <i class="fas fa-feather"></i>
                                    服務項目
                                </div>

                            </div>
                            <div class="collapse show">
                                <div class="card-body">
                                    <input type="checkbox" id="clean" name="serviceitem" value="0">
                                    <label for="clean">清潔</label><br>
                                    <input type="checkbox" id="storage" name="serviceitem" value="1">
                                    <label for="storage">收納</label><br>
                                    <input type="checkbox" id="deworming" name="serviceitem" value="2">
                                    <label for="deworming">除蟲</label><br>
                                    <div class="btn-area">
                                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                                data-target="#exampleModal" id="fee-btn">
                                            費用參考
                                        </button>
                                        <div class="btn-group dropup" id="searchproduct-btn">
                                            <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                搜尋條件
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#" id="searchbyroom-btn" onclick="fliterCardByRoomType()">空間類型</a>
                                                <a class="dropdown-item" href="#" id="searchbysquare-btn" onclick="fliterCardBySquareFeet()">空間大小</a>
                                                <a class="dropdown-item" href="#" id="searchbyserviceitem-btn" onclick="fliterCardByServiceItem()">服務項目</a>
                                            </div>
                                        </div>
                                        <button class="d-none" id="createcard-btn">新增商品</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="operating-area-btn" id="operating-area-btn">
                        <button id="sidemenu-contorl"><i class="fas fa-chevron-left"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-2 col-md-1 col-lg-2">
                <div class="transform-area">
                    <div class="viewed-area " id="viewed-area">
                        <div class="title">
                            <button id="viewed-area-btn">
                                瀏覽過的商品
                            </button>
                        </div>
                        <div class="item-group" id="viewed-box">
                        </div>
                    </div>
                </div>
            </div>
            <div class="packagetodefine-area">
                <button class="packagetodefine-btn " id="todefinebutton">自行<br>搭配</button>
                <button class="packagetodefine-btn d-none" id="topackagebutton">套裝<br>服務</button>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="product-area " id="packageproduct">
                    <div class="card-header">
                        <i class="fas fa-feather"> </i>
                        套裝服務
                        <div class="gridtolist-area">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" id="grid-btn">
                                    <i class="fas fa-th-large"></i>
                                </button>
                                <button type="button" class="btn btn-secondary" id="list-btn">
                                    <i class="fas fa-list"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="item-group grid" id="item-group-grid">
                        @foreach (var card in Model)
                        {
                            @Html.Partial("PartialView/_ProductPageGridCardPartial", card)
                        }
                    </div>
                    <div class="item-group list d-none" id="item-group-list">
                        @foreach (var card in Model)
                        {
                            @Html.Partial("PartialView/_ProductPageListCardPartial", card)
                        }
                    </div>
                </div>
                <div class="userdefined-area d-none" id="definedproduct">
                    <div class="card-header">
                        <h2>
                            <i class="fas fa-feather"></i> 客製化商品
                        </h2>
                        <div class="button"></div>
                    </div>
                    <div class="card-body">
                        <div class="item-group d-none" id="userdefinedbox">
                        </div>
                        <div class="pointout-area" id="pointout-area">
                            <div class="pic">
                                <img src="../../Assets/images/cart.jpg" alt="">
                            </div>
                            <div class="text">
                                <p>目前還沒有商品喔!<br>快利用左邊的選單，<br>搭配出適合自己的商品吧!</p>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="text">
                            <h4>小計:<span id="countprice"></span></h4>
                        </div>
                        <div class="button-area">
                            <button class="btn" id="addfavorite-btn">加入收藏</button>
                            <a href="" class="btn">前往收藏</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<template id="userDefinedCard">
    <div class="item">
        <div class="btn">
            <button id="temple-deletebtn"><i class="fas fa-minus"></i></button>
        </div>
        <div class="pic">
            <img src="/pic/balcony.png" id="temple-img">
        </div>
        <div class="text">
            <h2 id="temple-title"></h2>
            <ul>
                <li id="temple-squarefeet"></li>
                <li id="temple-serviceitem"></li>
                <li id="temple-hour"></li>
            </ul>
        </div>
    </div>
</template>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title " id="exampleModalLabel">時數計算</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">客廳</th>
                            <th scope="col">廚房</th>
                            <th scope="col">臥室</th>
                            <th scope="col">浴室</th>
                            <th scope="col">陽台</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">5坪以下</th>
                            <td>1hr</td>
                            <td>1hr</td>
                            <td>1hr</td>
                            <td>0.5hr</td>
                            <td>0.5hr</td>
                        </tr>
                        <tr>
                            <th scope="row">6-10坪</th>
                            <td>1.5hr</td>
                            <td>1.5hr</td>
                            <td>1.5hr</td>
                            <td>1hr</td>
                            <td>1hr</td>
                        </tr>
                        <tr>
                            <th scope="row">11-15坪</th>
                            <td>2hr</td>
                            <td>2hr</td>
                            <td>2hr</td>
                            <td>1.5hr</td>
                            <td>1.5hr</td>
                        </tr>
                        <tr>
                            <th scope="row">16坪以上</th>
                            <td>2.5hr</td>
                            <td>2.5hr</td>
                            <td>2.5hr</td>
                            <td>2hr</td>
                            <td>2hr</td>
                        </tr>
                    </tbody>

                </table>
                <span>NT$500/hr</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="titlemodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">幫您的組合取個名稱吧!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" id="modalinput" width="100" maxlength="7">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="definename-btn" >取名</button>
            </div>
        </div>
    </div>
</div>
<template id="viewedcard">
    <div class="item">
        <div class="pic">
            <a href="">
                <img src="">
            </a>
        </div>
    </div>
</template>
<i class="fas fa-heart"id="ball"></i>



@section JS{
    @Scripts.Render("~/Assets/js/ProductPage/ProductPage.js")
}
