@using System.Web.Configuration
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
</head>
<body>
    <div>
        <h3>#accountname# 用戶，你好 : </h3>

        <p style="margin:30px 0;">你於#datetime# 申請重設密碼，如果你沒申請，請忽略此信件</p>

        <p style="margin: 30px 0;">
            如果你要重設密碼，請點選下方連結進行新密碼設定 :
        </p>
        <p style="margin: 40px 0;">
            <a href="@WebConfigurationManager.AppSettings["WebsiteUrl"]/Account/ResetPassword?id=#id#&t=#datetimestring#">@WebConfigurationManager.AppSettings["WebsiteUrl"]/Account/ResetPassword?id=#id#&t=#datetimestring#</a>
        </p>
        <p style="margin: 30px 0;">提醒你，重設密碼連結有效時間為2小時，若超過有效時間此連結將會失效，請再重新申請。</p>
        <p style="margin: 30px 0;">※本Email通知由系統發送，請勿直接回覆。</p>

    </div>
</body>
</html>