@using System.Web.Configuration
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="x-apple-disable-message-reformatting" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <!--[if gte mso 9]>
    <xml>
      <o:OfficeDocumentSettings>
        <o:AllowPNG/>
        <o:PixelsPerInch>96</o:PixelsPerInch>
      </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
</head>
<body>
    <div>
        <h3>#accountname# 用戶，你好 : </h3>

        <p style="margin:30px 0;">你的密碼已重置成功。</p>

        <p style="margin: 30px 0;">
            如果你並未執行這項更改，或認為有未經授權的使用者存取了你的帳號，請立刻前往<a href="@WebConfigurationManager.AppSettings["WebsiteUrl"]/Account/ForgotPassword">此處</a>重置密碼。
        </p>
        <p style="margin: 40px 0;">如需其他協助，也可至首頁 "聯絡我們" 填寫表單，將有人與你聯絡。</p>
        <p style="margin: 30px 0;">順頌時祺</p>

    </div>
</body>
</html>