* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
}
button {
  background-color: transparent;
}
button:focus {
  outline: none;
}
img {
  vertical-align: top;
  max-width: 100%;
}
a {
  text-decoration: none;
}